.button_big, .button_small {
    border-radius: 6px;
    padding: 16px 32px;
    box-shadow: 0 0 24px 0 rgba(234, 0, 41, 0.33);
    background-color: #ff5e56;
    background-image: linear-gradient(232deg, #dc3131 0%, rgba(255, 79, 79, 0) 93.23%);
    color: #fff;
    transition:  0ms;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;

    &:hover, &:active {
        box-shadow: 0 0 24px 0 rgba(234, 0, 41, 0.33);
        background-color: #ea0029;
        background-image: none;
    }

    &:disabled {
        background-color: #bec5cc;
        background-image: none;
        color: #fff;
    }
}
.button_small{
    padding: 15px 30px;
    height: 40px;
}
.button_label {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}
