.container, .container_not_active {
    border-radius: 50px;
    padding: 6px 12px;
    background-color: #ff5e56;
    background-image: linear-gradient(232deg, #dc3131 0%, rgba(255, 79, 79, 0) 93.23%);
    width: fit-content;
    transition: 0.3s;
    color: #fff;
    cursor: pointer;

    &:hover {
        background-color: #dfe3e6;
        background-image: none;
        color: #000;
    }

    &:active {
        background-color: #ff5e56;
        background-image: linear-gradient(232deg, #dc3131 0%, rgba(255, 79, 79, 0) 93.23%);
    }
}

.container_not_active {
    background-color: #eef0f2;
    background-image: none;
    color: #000;
}

.tag_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
    text-align: center;
}
