.button_big, .button_small {
    border-radius: 6px;
    padding: 16px 32px;
    border: 1px solid #fff;
    background-color: transparent;
    height: 56px;
    color: #fff;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover, &:active {
        background-color: #fff;
        color: #000;
    }

    &:disabled {
        background-color: #bec5cc;
        color: #fff;
    }
}

.button_small {
    padding: 15px 30px;
    height: 40px;
}

.button_label {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}
